@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: #272f35;
  color: #F2F1EF;

  font-family: "Inter", sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.1s all;
}
a:hover {
  color: #97BCC7;
}
div.center {
  font-size: 50px;
  width: 100vw;
}
div.footer {
  position: absolute;
  width: 100vw;
  padding: 50px;
  bottom: 0px;

  font-size: 18px;
  color: #97BCC7;
}
